/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {}

a:hover {
    text-decoration: none
}


.section-padding {
    padding: 70px 0;
}

.single-project-item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-bottom: 15px;
}

.bg-1 {
    background-image: url(../img/project-1.jpg);
}

.bg-2 {
    background-image: url(../img/project-2.jpg);
}

.bg-3 {
    background-image: url(../img/project-3.jpg);
}

.bg-4 {
    background-image: url(../img/project-4.jpg);
}

.bg-5 {
    background-image: url(../img/project-5.jpg);
}

.bg-6 {
    background-image: url(../img/project-6.jpg);
}

.bg-7 {
    background-image: url(../img/project-7.jpg);
}

.bg-8 {
    background-image: url(../img/project-1.jpg);
}

.bg-9 {
    background-image: url(../img/project-4.jpg);
}

.row .project-list,
.col-md-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row .project-list {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.project-title ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 50px;
}

.project-title li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

.active {
    color: #169AB8;
}

.product-hover a {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
    color: #169AB8;
}

.product-hover h3 {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.product-hover h3 span {
    display: block;
    margin-top: 10px;
    color: #169AB8;
}


.product-hover {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: all .5s;
}

.product-hover:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    z-index: -1;
}

.product-hover:hover {
    opacity: 1;
}

.row.project-list .col-md-4:nth-child(2) .single-project-item,
.row.project-list .col-md-4:nth-child(4) .single-project-item,
.row.project-list .col-md-4:nth-child(6) .single-project-item {
    height: 615px;
}
